
                                  <!-- NAVBARR -->
<header>
  <div>
  <h1 class="flex items-center justify-center flex-wrap bg-yellow-700 p-1 text-white">Retos dia 3</h1>
  </div>
  <nav class=" flex items-center  justify-center flex-wrap bg-gray-400 h-[20px]" >
      <a routerLink="/home" class="hover:bg-gray-300 text-white bg-gray-700 py-5 px-4 m-6 rounded">HOME 
      </a>
      <a routerLink="/ciudades"class="hover:bg-gray-300 text-white bg-gray-700 py-5 px-4 m-6 rounded">CIUDADES
      </a>
  </nav>
</header>

  <app-ciudades></app-ciudades>

